extends layout

block content
  h1= title
  p Die Website ist eine karten-basierte, interaktive Webanwendung zum Hinzufügen, Bearbeiten, Löschen und Anzeigen von Gebirgen in Europa. Außerdem bietet es die Möglichkeit die Route zwischen einen Standort und Gebirge anzuzeigen.
  br
  br
  h2 Hinzufügen 
  p Es gibt drei Möglichkeiten ihre Gebirge in die Datenbank hinzuzufügen. Als GeoJSON Format, mit Hilfe von Leaflet Draw und als GeoJSON-Datei.
  br

  h2 Löschen
  p Unter dem Reiter Löschen, können Sie Ihre bereits hinzugefügten Gebirge löschen.
  br

  h2 Anzeigen
  p Alle bereits hinzugefügten Gebirge können auf der Karte angesehen werden. Unterhalb der karte ist außerdem eine Tabelle mit den Attributen abgebildet.
  br

  h2 Route
  p Hier können Sie sich eine Route zu einem beliebig ausgewähltem Gebirge anzeigen lassen. Nutzen Sie hierfür auch die dafür vorgesehene Standortabfrage um ihren Standort sehen zu können.
  br